

BACKUP_CRON_EXPRESSION= "0 22 * * *"
AWS_ENDPOINT= 
AWS_S3_BUCKET_NAME= 
AWS_ACCESS_KEY_ID= 
AWS_SECRET_ACCESS_KEY= 

BACKUP_FILENAME= jellyfin-backup-%Y-%m-%dT%H-%M-%S.tar.gz
BACKUP_PRUNING_PREFIX= jellyfin-backup-
BACKUP_RETENTION_DAYS= 2